<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col col-lg-1">
        <h1>{{ site.title }}</h1>
      </div>
      <div class="footer-col col-lg-2" style="float: right;">
          <a href="https://www.facebook.com/Farmacia-Trafarm-210411679034468/">
            <img src="/assets/images/facebook.svg" height="40px" alt="Facebook Page Link">
          </a>
          <a href="https://plus.google.com/+FarmaciaTrafarmOr%C8%99ova">
            <img src="/assets/images/googleplus.svg" height="40px" alt="Google Page Link">
          </a>
      </div>
    </div>
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>E-mail:</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Telefon:</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/orsova/"><b>Orșova</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 8 - 20</li>
          <li>S-D: 8 - 15</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="/toplet/"><b>Topleț</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 9 -17</li>
          <li><a href="tel:{{ site.phone2 }}">{{ site.phone2 }}</a></li>
        </ul>
        </div>

    </div>

  </div>

</footer>
