<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>E-mail:</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Telefon:</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/orsova/"><b>Orșova</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 8 - 20</li>
          <li>S-D: 8 - 15</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="/toplet/"><b>Topleț</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 9 -17</li>
          <li><a href="tel:{{ site.phone2 }}">{{ site.phone2 }}</a></li>
        </ul>
        </div>

    </div>

  </div>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</footer>
