<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <h1>{{ site.title }}</h1>
      </div>
      <div class="sharing">
          <a href="https://www.facebook.com/Farmacia-Trafarm-210411679034468/">
            <amp-img src="/assets/images/facebook.svg" height="40px" width="40px" alt="Facebook Page Link"></amp-img>
          </a>
          <a href="https://plus.google.com/+FarmaciaTrafarmOr%C8%99ova">
            <amp-img src="/assets/images/googleplus.svg" height="40px" width="40px" alt="Google Page Link"></amp-img>
          </a>
      </div>
    </div>
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>E-mail:</li>
          <li><a href="mailto:{{ site.email }}">trafarm AT trafarm.ro</a></li>
          <li>Telefon:</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/orsova/"><b>Orșova</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 8 - 20</li>
          <li>S-D: 8 - 15</li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/toplet/"><b>Topleț</b></a></li>
          <li>Orar:</li>
          <li>Luni - Vineri: 9 -17</li>
          <li><a href="tel:{{ site.phone2 }}">{{ site.phone2 }}</a></li>
        </ul>
        </div>

    </div>

  </div>

</footer>

 <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-3090430-10"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
  </amp-analytics>
<amp-install-serviceworker
        src="{{ "/sw.js" | prepend: site.baseurl | prepend: site.url }}"
        data-iframe-src="{{ "/sw.html" | prepend: site.baseurl | prepend: site.url }}"
        layout="nodisplay">
</amp-install-serviceworker>